#root,body,html{width:100%;height:100%;overflow:hidden}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#fafbff}
/*# sourceMappingURL=main.7a6abedd.chunk.css.map */